{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">RESTAURARE, CONSOLIDARE ȘI CONSERVARE BISERICA  CU HRAMUL "SF. NICOLAE", A MÂNĂSTIRII CĂLUI, TURNUL CLOPOTNIȚĂ, AMENAJARE INCINTĂ CU SISTEMATIZAREA VERTICALĂ A TERENULUI, REALIZARE INSTALAȚII ELECTRICE, TERMICE ȘI SANITARE, REALIZARE ILUMINAT ARHITECTURAL ȘI AMBIENTAL, REALIZAREA UNUI CORP ANEXĂ PENTRU GRUPURI SANITARE, REFACERE POARTĂ DE ACCES</h5>
            <h6 class="card-subtitle mb-2 text-muted">Contract de finanțare nr. 1670 / 26.03.2018, cod SMIS 117849</h6>
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0">Denumirea beneficiarului: <span class="fw-bold">Mânăstirea Călui</span></p>
              </li>
              <p class="card-text mb-0"><small class="text-muted">Programul Operațional Regional 2014-2020, Axa prioritară 5 - Îmbunătățirea mediului urban și conservarea, protecția și valorificarea durabilă a patrimoniului cultural, Prioritatea de investiții 5.1 - Impulsionarea dezvoltarii locale prin conservarea, protejarea si valorificarea patrimoniului cultural si a identitatii culturale.</small></p>
              <li class="list-group-item px-0">
                <p class="mb-0">Autoritatea de Management: <span>Ministerul Dezvoltării Regionale și Administrației Publice</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Organism Intermediar: <span>Agenția pentru Dezvoltare Regională Sud Vest Oltenia</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Perioada de implementare a proiectului: <span class="fw-bold">41 luni</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de începere a proiectului: <span class="fw-bold">01.02.2017</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Valoarea totală a proiectului: <span class="fw-bold">7.831.852,39 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Contribuția Uniunii Europene: <span class="fw-bold">6.442.428,30 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Obiectivul proiectului: <span>Restaurarea, conservarea, protejarea și menținerea stilului arhitectonic al Bisericii Sf. Nicolae - Mânăstirea Călui, județul Olt, ca premisă a dezvoltării turismului cultural și religios, factor ce stimulează dezvoltarea economică a regiunii Sud Vest Oltenia, păstrarea culturii tradiționale românești, respectând principiile dezvoltării durabile și protecției mediului. </span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title fw-bold">DESPRE PROIECT</h5>
          </div>
          <div class="card-body">
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 1 - Biserica Sf. Nicolae: <span class="fw-normal">consolidare, conservare şi restaurare biserică, schimbare de şarpantă şi învelitoare; schimbarea sau restaurarea după caz a tâmplăriei exterioare; conservare și restaurare frescă și pictură exterioară; conservare și restaurare mobilier bisericesc; restaurarea pardoselii interioare; realizarea unui sistem de încălzire în pardoseală; actualizarea instalațiilor electrice și termice; realizarea de instalaţii ape pluviale, relizarea unui iluminat arhitectural exterior.</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 2 - Turn clopotniță: <span class="fw-normal">consolidare, conservare şi restaurare obiectiv, schimbarea de şarpantă şi învelitoare; schimbarea tâmplăriilor exterioare; schimbarea pardoselii interioare; realizarea instalaţiilor electrice și termice adaptate nevoilor.</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 3 - Corp anexă: <span class="fw-normal">realizarea unui corp anexă în lateralul turnului clopotniță - pentru asigurarea unui spațiu aferent grupurilor sanitare în incinta mânăstirii.</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 4 - Amenajarea incintei: <span class="fw-normal">lucrări de realizare alei pietonale/ trotuare/ drum gardă din piatră cubică sau dale din piatră de vrața sau granit cu acces la toate corpurile ansamblului; reamenajarea spațiilor verzi; restaurare și consolidare pietre funerare; sistematizarea amenajării propuse; realizarea unui sistem de iluminat arhitectural de exterior pentru expunerea corectă pe timp de noapte a tuturor obiectelor; amenajare cu mobilier urban (coșuri de gunoi și băncuțe, etc.); realizarea unui lumânărar ca mobilier urban; refacerea porții de acces.</span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}