{{ define "body_classes" }} proiect-1-page {{ end }}

{{ define "main" }}

<section class="project-wrapper space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "titles" . }}
      </div>
    </div>
    <div class="row space-top space-bottom">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">RECONSTRUIRE CASELE STĂREȚIEI; RESTAURARE ZID DE INCINTĂ</h5>
            <h6 class="card-subtitle mb-2 text-muted">Contract de finanțare nr. 1670 / 26.03.2018, cod SMIS 119469</h6>
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0">Denumirea beneficiarului: <span class="fw-bold">Mânăstirea Călui</span></p>
              </li>
              <p class="card-text mb-0"><small class="text-muted">Programul Operațional Regional 2014-2020, Axa prioritară 5 - Îmbunătățirea mediului urban și conservarea, protecția și valorificarea durabilă a patrimoniului cultural, Prioritatea de investiții 5.1 - Impulsionarea dezvoltarii locale prin conservarea, protejarea si valorificarea patrimoniului cultural si a identitatii culturale Autoritatea de Management: Ministerul Dezvoltării Regionale și Administrației Publice</small></p>
              <li class="list-group-item px-0">
                <p class="mb-0">Organism Intermediar: <span>Agenția pentru Dezvoltare Regională Sud Vest Oltenia</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Perioada de implementare a proiectului: <span class="fw-bold">41 luni</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Data de începere a proiectului: <span class="fw-bold">01.02.2017</span></p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Valoarea totală a proiectului: <span class="fw-bold">7.831.852,39 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Contribuția Uniunii Europene: <span class="fw-bold">6.442.428,30 </span>lei</p>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0">Obiectivul proiectului: <span>Restaurarea, conservarea, protejarea și menținerea stilului arhitectonic al Bisericii Sf. Nicolae - Mânăstirea Călui, județul Olt, ca premisă a dezvoltării turismului cultural și religios, factor ce stimulează dezvoltarea economică a regiunii Sud Vest Oltenia, păstrarea culturii tradiționale românești, respectând principiile dezvoltării durabile și protecției mediului. </span></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title fw-bold">DESPRE PROIECT</h5>
          </div>
          <div class="card-body">
            <ol class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 1 - Casele stăreției</p>
                <span class="fw-normal">Lucrări propuse: restaurarea, consolidarea și conservarea ruinelor existente; amenajarea și refuncționalizarea Caselor Stăreției în spațiu expozițional; propunere instalații sanitare, electrice și termice; propunere iluminat arhitectural și ambiental. 
                  Din punct de vedere structural, se va opta pentru o soluție minimală care se bazează pe capacitatea portantă a zidurilor existente, prin refacerea porțiunilor de cărămidă care lipsesc. De asemenea se vor realiza rețeseri ale zidăriei și refaceri cu mortare pe bază de var hidraulic, injectări locale și refacerea bolților într-un sistem ușor, din lemn. Închiderile se vor realiza din cărămidă, parțial tencuită, tâmplărie din lemn montată cu geam termoizolant, șarpantă din lemn și învelitoare din tablă de zinc. Casele stăreției se vor racorda cu Turnul Clopotniță - construcție monument istoric adosată amplasamentului.</span>
              </li>
              <li class="list-group-item px-0">
                <p class="mb-0 fw-bold">Obiect 2 - Zid de incintă </p>
                <span class="fw-normal">Lucrări propuse: consolidare, conservare şi restaurare zid, realizarea instalaţiilor electrice pentru iluminat arhitectural. Se vor realiza săpături pentru sistematizarea zonelor “înecate” de vegetație și pământ, consolidarea contraforților, înlocuirea zonelor lacunare cu cărămidă de epocă presată, similară ca model cu “zidăria oltenească”.</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}