{{- define "bodyClasses" -}} page-type-{{ .Type }} {{ .Kind }}-{{ .Type }} {{ .Page.LinkTitle | plainify | urlize -}} {{- end -}}

{{ define "main" }}

  <section class="contact-wrapper space-top space-bottom" aria-label="Section - {{ .LinkTitle | urlize }}">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          {{ partial "blocks/titles" . }}
        </div>
      </div>
      <div class="row align-items-center space-top">
        <div class="col-md-6 col-lg-5 me-auto">
          <div class="card  mb-3 mx-auto">
            <div class="card-header">
              <h2 class="card-title fw-bold">{{ .Site.Title }}</h2>
            </div>
            <div class="card-body">
              {{ with .Site.Params.footer.contactInfo }}
                <ul class="list-group list-group-flush" aria-label="Contact Info">
                  <li class="list-group-item">
                    <p class="card-text"><span class="fw-bold">Adresa</span>: {{ .address }}</p>
                  </li>
                  <li class="list-group-item">
                    <p class="card-text"><span class="fw-bold">Telefon</span>: {{ .phone }}</p>
                  </li>
                  <li class="list-group-item">
                    <p class="card-text"><span class="fw-bold">Fax</span>: {{ .fax }}</p>
                  </li>
                  <li class="list-group-item">
                    <p class="card-text"><span class="fw-bold">Stareț al Mănăstirii</span>: {{ .person }}</p>
                  </li>
                </ul>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ratio ratio-4x3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2847.5506514906597!2d24.0292454155242!3d44.46288447910189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752cbf806485b13%3A0xf3bc53a11eb6655a!2zTcSDbsSDc3RpcmVhIEPEg2x1aQ!5e0!3m2!1sen!2sro!4v1674507012829!5m2!1sen!2sro" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" aria-label="Location"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
