<section class="about-homepage space-top space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-image">
          {{ with .Params.hero }}
          {{ range $index, $items := first 1 .items }}
              <img class="img-fluid" src="{{ .image }}" srcset="{{ .image }} 1x, {{ .image2x }} 2x" alt="{{ .title | markdownify }}"> 
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="title-area">
          {{ with .Params.aboutHomepage }}
            <h2 class="sec-title">{{ .title | markdownify }}</h2>
            <p>{{ .description | safeHTML }}</p>
            <a class="btn btn-warning" href="/proiect1" role="button">Vezi Etapa 1</a>
            <a class="btn btn-warning" href="/proiect2" role="button">Vezi Etapa 2</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>