<div class="container space-top">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <p>Mânăstirea Călui se află pe malul Oltețului, în apropiere de Craiova, nu departe de comuna Oboga, comuna renumită pentru ceramica ei populară. Așezământul monahal, înconjurat de un puternic zid de cărămidă, a fost întemeiată între anii 1516-1521, în timpul domniei lui Neagoe Basarab (1512-1521), de către banul Vlad și frații sai, Dumitru și Bălică. 
        Primii ctitori au ridicat edificiul până la nivelul temeliilor, dar nu l-au putut probabil termina din cauza instabilității politice care a urmat domniei lui Neagoe Basarab. 
        Mânastirea Călui, cu hramul Sfântul Nicolae, a fost refăcută de către boierii Craiovești, apoi a fost restaurata și infrumusețata de frații Buzești în perioada 20 aprilie – 8 iunie 1588, atunci când au fost inființate și corpurile de chilii, după cum precizeaza pisania săpată în piatră deasupra ușii de la intrarea în biserică. 
        Ulterior monumentului i s-a adaugat un exonartex, mărginit de arcade laterale. 
        Biserica Sfântul Nicolae, de dimensiuni mici – 15 metri lungime și 6 metri lățime – este un monument reprezentativ al arhitecturii muntenești din secolul al XVI-lea, care se impune prin proporțiile grandioase ale turlei și prin bogata decorație a fațadelor. Fațadele bisericii au un parament de cărămidă și tencuială, cu un puternic brâu median, având registrul inferior împărțit în panouri dreptunghiulare, iar cel superior cu arcaturi duble. 
        Interiorul păstreaza un ansamblu de picturi murale realizate de meșterul zugrav Mina între anii 1593-1594, care îi infățișează pe Frații Radu, Preda și Stroe Buzescu, precum și un tablou cu domnii Mihai Viteazu și Petru Cercel.
        Biserica a fost renovată în anii 1650, 1828, 1834 și amplu restaurată în 1932-1937. 
        Aici ar trebui sa mai inseram cate o mica descriere despre proiectul de restaurare .</p>
    </div>
  </div>
</div>