@import "../abstracts/variables";

.header-area {
  .navbar {
    padding-bottom: 2rem;

    .navbar-nav {
      margin: auto;
      gap: 2rem;
    
      li {
        color: $primary;
        font-size: 1.5rem;
        list-style: disc;

        &:first-child {
          list-style: none;
        }
      }
      
      .nav-link {
        color: $primary;
        font-weight: $font-weight-bold;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover,
        &:focus,
        &:active {
          color: $black;
        }
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .header-area {
    .navbar {
      .navbar-nav {
        gap: 1rem;
        
        li {
          font-size: 1rem;
          
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .header-area {
    .navbar {
      .navbar-nav {
        li {
          font-size: .9rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .header-area {
    .navbar {
      .navbar-nav {
        li {
          list-style: none;
        }
      }
    }
  }
}