@import "../abstracts/variables";

.header-area {
  .navbar {
    .navbar-nav {
      margin: auto;
      gap: 2rem;
    
      li {
        color: $primary;

        @include media-breakpoint-up(xl) {
          font-size: 1.5rem;
          list-style: disc;

          &:first-child {
            list-style: none;
          }
        }
      }
      
      .nav-link {
        color: $primary;
        font-weight: $font-weight-bold;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover,
        &:focus,
        &:active {
          color: $black;
        }
      }
    }
  }
}
