<div class="c-digitizare mb-3">
  <img class="img-fluid w-100" src="/gallery/gallery-1.jpg" alt="Mănăstirea Călui">
  <div class="c-digitalizare-body">
    <h2 class="c-digitizare-title">Mănăstirea Călui</h2>
    <a class="c-digitalizare-link | btn btn-prime" href="https://arenacad.websharecloud.com/?v=pv&t=p:default,c:panoramaview,h:f,m:t,pr:t&pv=pv1&pv1=vt:3d,u:b86e6f7c-f0ca-42db-bf6c-0caedcd7d363,cf:111.00,dh:f,st:f,cx:-47.10516,cy:-9.92792,cz:111.54110,p:5.46697,t:-0.09227&p=p:digitizare-manastire-gura-calui" tabindex="0" role="link" draggable="false" rel="nofollow noreferrer" target="_blank">Vezi Model Interactiv Scanare 3D</a>
  </div>
</div>

<p class="disclaimer"><i class="fa-solid fa-circle-exclamation"></i> Puteți naviga în imagine cu ajutorul mouse-ului în orice direcție. Executând click pe marcajele din imagine vă puteți muta în altă pozitie
  Cu ajutorul rotiței mouse-ului vă puteți apropia sau îndeparta în imagine. Pentru a trece în modul "tur virtual" apăsați pe butonul 3D din coltul din dreapta sus al imaginii.</p>

<div class="title-area text-center my-5">
  <h2 class="sec-title">Metadate</h2>
  <hr>
</div>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-location-crosshairs"></i>
      <h3>Localizare</h3>
      <p>sat Gura Căluiu, comuna Călui, judeţul Olt, România</p>
      <p>GPS: <a href="https://www.google.com/maps/place//44.462521167,24.030322/@44.462521167,24.030322,17z" tabindex="0" role="link" target="_blank" draggable="false">44.462521167, 24.030322</a></p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-circle-info"></i>
      <h3>Informații</h3>
      <p>Data: 29 Decembrie 2023</p>
      <p>Scanner laser 3D: Faro Focus 330X</p>
      <p>Instrument TZF Scans</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="c-metadata text-center">
      <i class="fa-solid fa-compass-drafting"></i>
      <h3>Scanare</h3>
      <p>Numar scanări: 260</p>
    </div>
  </div>

  <div class="col-xl-4 mx-auto mt-2 mt-md-3 text-center"> 
    <a class="btn btn-prime" href="\docs\digitalizare-manastirea-calui-metadate.pdf" download="Digitizare Gura Căluiu Frații Buzești 209_fisier metadate" tabindex="0" role="button" draggable="false">Descarcă Raport Metadate</a>
  </div>
</div>

