<!DOCTYPE html>
<!--[if lte 8]><html class="pre-ie9" lang="en"><![endif]-->
<!--[if gte IE 9]><!-->
<html lang="en"><!--<![endif]-->
<html>
{{- partial "head.html" . -}}

<body>
  <!--[if IE]><div class="w-100 text-center bg-dark text-white pt-3 px-4 pb-1 position-fixed" style="z-index: 1000; bottom: 0;"><p onClick="parentNode.remove()">Please use a modern browser for a better browsing experience. <span class="float-right">X</span></p></div><![endif]-->

  {{- partial "header.html" . -}}

  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>

  {{- partial "footer.html" . -}}

</body>
</html>
